services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    environment:
      APP_ENV: dev
      APP_DEBUG: 1
      DATABASE_URL: sqlite:////app/var/data.db
